.player.player1
  %span.number
.player.player2
  %span.number

.message.next_server
  %audio{ 'src' => 'audio/switch_server.ogg' }
.message.surpassed
  %audio{ 'src' => 'audio/surpassed.ogg' }
.message.win_message
  %audio{ 'src' => 'audio/winner.ogg' }
